Pandas and numpy - pair-up
Discussion session
How will you read the following data into a pandas data frame ? ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_mm_mlo.txt

In [20]:
import pandas as pd
import numpy as np
df = pd.read_table("ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_mm_mlo.txt", delim_whitespace=True, comment='#', header=None)

How would you pick columns 0,1,3 ?
[[0, 1, 3]]

In [23]:
df_013 = df.iloc[:,[0,1,3]]
df_013.head()

      0  1       3
0  1958  3  315.71
1  1958  4  317.45
2  1958  5  317.50
3  1958  6  -99.99
4  1958  7  315.86

Use a for loop to find all rows where Co2 (column 3) enteries with the value -99.99 (these are missing values) and replace them with NaN values (try using np.nan - do you know what it is? )

In [21]:
for i in range(len(df_013)):
    if df_013[3][i] == -99.99: df_013[3][i] = np.nan

/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2961: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

Change names of columns to year, month, and CO2 (use colnames)

In [25]:
my_columns = ["year", "month", "CO2"]
df_013.columns = my_columns
df_013.head()

   year  month     CO2
0  1958      3  315.71
1  1958      4  317.45
2  1958      5  317.50
3  1958      6  -99.99
4  1958      7  315.86

Add a column 'Day' and specifiy the day 15 for all enteries

In [29]:
df_013['Day']=15
df_013.head()

/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   year  month     CO2  Day
0  1958      3  315.71   15
1  1958      4  317.45   15
2  1958      5  317.50   15
3  1958      6  -99.99   15
4  1958      7  315.86   15

Add a date column according to the 'year', 'month' and 'day' columns (options: use apply with lambda or for loop together with datetime.date (make sure to import it))

Drop the 'Day' column

use pandas groupby to print the yeaerly avg. of co2 per year.

Pick columns that you think could be used to build a model and store them in numpy array (Answer why do we do that?)

repeat step (3) but this time using the np.where command.

Download the notebook as .py script and run it from your terminal.

Create a branch in github repository called warm_up_draft

push the notebook with the name CO2 to your new branch on github.