### Import packages

In [1]:
import sqlite3
import pandas as pd

### Connect to database

In [55]:
conn = sqlite3.connect('amazon_db.db')
c = conn.cursor()

c.execute("""SELECT * FROM books; """) 

df = pd.DataFrame(c.fetchall())
df.columns = [i[0] for i in c.description]
df.num_copies = df.num_copies.astype('int')
df_sort = df.sort_values('num_copies', ascending=True)
df_sort.head()

                              books  num_copies
48815  A Monkey Dove Under The Desk          27
14282   The Worm Dove In The Castle          36
44347    One Boat Winced On A House          94
48750   A Fish Danced On The Banana         152
71777    A Girl Punched Over A Fish         266

Jon Note to self - books only includes books that sold

### Use SQL to answer the following questions:

1.  How many rows are in the 'author' database?

In [8]:
sql_str = """SELECT * FROM author
"""

df = pd.read_sql_query(sql_str, conn)
len(df)

100000

2. How many authors are called David?

In [61]:
sql_str = """
SELECT * FROM author a
WHERE a.author LIKE 'David%'
"""

df_david = pd.read_sql_query(sql_str, conn)
len(df_david)

1335

3. How many books each author wrote?

In [60]:
sql_str = """
SELECT author, count(book) as num_books 
FROM author
GROUP BY author
"""

df = pd.read_sql_query(sql_str, conn)
df.sort_values('num_books', ascending=False)

                  author  num_books
75713    Robert Williams         25
37899        James Smith         24
91638      William Smith         22
75044     Robert Johnson         21
64514      Michael Smith         19
61903      Mary Williams         19
44436      John Williams         18
43715       John Johnson         18
36860        James Brown         17
44258         John Smith         17
46019       Joseph Smith         17
43241         John Brown         16
37367      James Johnson         16
38052     James Williams         16
75542       Robert Smith         15
61354       Mary Johnson         15
64043    Michael Johnson         15
19707        David Smith         15
61771         Mary Smith         14
61356         Mary Jones         14
73717    Richard Johnson         13
43717         John Jones         13
63636      Michael Brown         12
37581       James Miller         11
86074     Thomas Johnson         11
75718      Robert Wilson         11
40800     Jennifer Smith         11
91232    William Johnson         11
44326        John Taylor         11
60937         Mary Brown         11
...                  ...        ...
31460    Gerald Plunkett          1
31459     Gerald Pittman          1
31458    Gerald Petersen          1
31457       Gerald Perez          1
31456     Gerald Pereida          1
31455      Gerald Pereda          1
31454     Gerald Patrick          1
31473    Gerald Richards          1
31475   Gerald Rodriguez          1
31496    Gerald Thornton          1
31487      Gerald Staley          1
31495      Gerald Thomas          1
31494     Gerald Theisen          1
31493    Gerald Thedford          1
31492         Gerald Tes          1
31491         Gerald Tea          1
31490  Gerald Sutherland          1
31489     Gerald Stinson          1
31488    Gerald Stancill          1
31486      Gerald Sowder          1
31476       Gerald Roman          1
31485     Gerald Sonsino          1
31483      Gerald Siefke          1
31482       Gerald Sesco          1
31481      Gerald Schurz          1
31480     Gerald Schuman          1
31479        Gerald Sabo          1
31478       Gerald Royce          1
31477        Gerald Rosa          1
92556       Zulema Stark          1

[92557 rows x 2 columns]

4. Use both the author table and books table to 
say: how many copies were sold by authors named David 


    a. how many books for each of the Davids
    
    
    b. how many books in total for all Davids

In [76]:
sql_str_david = """
SELECT * FROM author a
WHERE a.author LIKE 'David%'
"""

sql_2 = """
SELECT author, sum(num_copies) as total_copies
FROM ({}) d
JOIN books b on d.book = b.books
GROUP BY author
""".format(sql_str_david)



df = pd.read_sql_query(sql_2, conn)
df.sort_values('total_copies', ascending=False)

               author  total_copies
708       David Smith      31792538
375       David Jones      20043716
97        David Brown      16819141
790      David Walter      16617115
744      David Taylor      16173228
529       David Moore      15962889
813       David White      14398620
517      David Miller      14241645
748    David Thompson      13470976
822    David Williams      13368646
371     David Johnson      12686153
807       David Wells      12409852
472    David Martinez      11837025
470    David Marshall      11414409
501      David Medina      10933516
331       David Hayes      10927314
452       David Lopez      10662557
156         David Cox      10093518
367       David James       9514879
650     David Roberts       9500882
638  David Richardson       9443409
190        David Diaz       9319611
312    David Hamilton       9232286
341   David Hernandez       9208728
747      David Thomas       9149488
671     David Sanchez       9002264
476     David Mcbride       8527879
320      David Harris       8468430
523    David Mitchell       8023782
374       David Jolly       7886756
..                ...           ...
477  David Mcburrough        220611
314     David Hampton        219438
794      David Warner        216003
369     David Jenkins        212058
69        David Blair        187909
179     David Deloach        182132
437      David Levine        169310
432       David Legge        165137
72    David Bleiweiss        153846
55      David Bennett        153531
63      David Bigelow        150142
823      David Willis        147226
409     David Konecny        132987
274      David Geiger        127532
707       David Sloss        126097
702        David Sims        124685
433       David Lentz        123467
786      David Wagner        114233
166       David Cunha        107524
580      David Padula        101773
570        David Orta         84508
214         David Ely         72278
108      David Button         65346
552       David Nesby         36623
749    David Thornton         26948
211   David Eggleston         24367
39     David Baumbach         24032
93       David Brokaw         17891
406     David Koehler         11665
814    David Whitlock          3937

[840 rows x 2 columns]

In [78]:
sql_str_david = """
SELECT * FROM author a
WHERE a.author LIKE 'David%'
"""

sql_2 = """
SELECT sum(num_copies) as total_david_copies
FROM ({}) d
JOIN books b on d.book = b.books
""".format(sql_str_david)



df = pd.read_sql_query(sql_2, conn)
df.sort_values('total_david_copies', ascending=False)

   total_david_copies
0          2611352486