![sql](img/sql-logo.jpg)

# A beginner's guide to databases, SQL, & using them with `pandas`

**Scenario:** You are a data analyst for the Homeland Security, trying to create reports on the active airports world wide. The data you need to access is in a SQL database. YOu need to be able to query for the data in a database!

## Learning goals:
- Goal 1: Summarize the use case for sql in the data science skill set
- Goal 2: Define key sql terminology
- Goal 3: Get information about DB schema and table structure
- Goal 4: Use basic SQL commands:
    - Construct SQL queries
    - Use JOIN to merge tables along logical columns
    - Grouping Data with SQL
- Goal 5: Query data from pandas dataframes using SQL
- Goal 6: Convert SQL to pandas

## Goal 1: Summarize

[Netflix has a great article](https://medium.com/netflix-techblog/notebook-innovation-591ee3221233) describing three different data roles at their company, their different needs, and their toolsets.

![netflix](img/netflix-data-roles.jpeg)

Examining that graphic, SQL shows up as one of the tools of the _Data Engineer_

Data Engineers provide the essential data architecture services that make data science possible.

![hierarchy](img/ai-hierachy.png)

[Source: Monica Rogati’s fantastic Medium post “The AI Hierarchy of Needs”
](https://hackernoon.com/the-ai-hierarchy-of-needs-18f111fcc007)

![etl](img/etl.png)

[img source: Jeff Hammerbacher’s slide from UC Berkeley CS 194 course ](https://bcourses.berkeley.edu/courses/1377158/pages/cs-194-16-introduction-to-data-science-fall-2015)

### What is a Relational Database? 

![rdb](img/relational-dbms-model.png)
[reference for image ](https://www.studytonight.com/dbms/database-model.php)

### POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

***
## Goal 2: Database terminology

### Relational Database Schema

![schema](img/MySQL_Schema_Music_Example.png)

[source of image](https://database.guide/what-is-a-database-schema/)

### Table columns view
![table example](img/columns.png)

### Terminology

- Schema
- Primary Key
- Foreign Key
- Structured queries
- Views

***
### SQLite

![sqlite](img/SQLite-Python.jpg)

"SQLite is a C library that provides a lightweight disk-based database that doesn’t require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language. Some applications can use SQLite for internal data storage. It’s also possible to prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle." - [sqlite documentation](https://docs.python.org/2/library/sqlite3.html)

## But what about connecting to database servers?

To connect to an Oracle database server there is a different package, `cx_Oracle`. The documentation for that package is [here](https://oracle.github.io/python-cx_Oracle/)

***
## Goal 3: Get going with sqlite!

In [1]:
import sqlite3

#### Load a DB object with `connect` and `cursor`

In [2]:
con = sqlite3.connect('flights.db')
cursor = con.cursor()

In [9]:
print(id('flights.db'))
print(id(con))
con.

4552810800
4553647696

#### Use sqlite_master to find all the tables in the schema
Get the schema of a database from a db in sqlite

In [3]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('airports',), ('airlines',), ('routes',)]

#### Get information about one table

**A note about** `execute`<br>
Each time you use it, you reset the value of cursor

In [10]:
cursor.execute("SELECT * FROM airports")

#### Use description

In [11]:
cursor.description

(('index', None, None, None, None, None, None),
 ('id', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('country', None, None, None, None, None, None),
 ('code', None, None, None, None, None, None),
 ('icao', None, None, None, None, None, None),
 ('latitude', None, None, None, None, None, None),
 ('longitude', None, None, None, None, None, None),
 ('altitude', None, None, None, None, None, None),
 ('offset', None, None, None, None, None, None),
 ('dst', None, None, None, None, None, None),
 ('timezone', None, None, None, None, None, None))

#### Or use `Pragma`
`Pragma` tool [link here](https://www.sqlite.org/pragma.html#pragma_table_info)

**output**<br>
`(column id, column name, data type, whether or not the column can be NULL, and the default value for the column)`

In [12]:
cursor.execute("PRAGMA table_info(airports)")
info = cursor.fetchall()
print(*info, sep = "\n")

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'id', 'TEXT', 0, None, 0)
(2, 'name', 'TEXT', 0, None, 0)
(3, 'city', 'TEXT', 0, None, 0)
(4, 'country', 'TEXT', 0, None, 0)
(5, 'code', 'TEXT', 0, None, 0)
(6, 'icao', 'TEXT', 0, None, 0)
(7, 'latitude', 'TEXT', 0, None, 0)
(8, 'longitude', 'TEXT', 0, None, 0)
(9, 'altitude', 'TEXT', 0, None, 0)
(10, 'offset', 'TEXT', 0, None, 0)
(11, 'dst', 'TEXT', 0, None, 0)
(12, 'timezone', 'TEXT', 0, None, 0)

#### Making fetch happen

`.fetchall()` is how you get the query results out of the object.

You can also `.fetchone()` or `.fetchmany()`

**Task:** Get the descriptive data for airlines and routes tables

In [27]:
cursor.execute("PRAGMA table_info(airports)")

info = cursor.fetchall()
print(*info, sep = "\n") 


print('\n')

cursor.execute("PRAGMA table_info(airlines)")
info = cursor.fetchall()
print(*info, sep = "\n") 


print('\n')
cursor.execute("PRAGMA table_info(routes)")
info = cursor.fetchall()
print(*info, sep = "\n")

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'id', 'TEXT', 0, None, 0)
(2, 'name', 'TEXT', 0, None, 0)
(3, 'city', 'TEXT', 0, None, 0)
(4, 'country', 'TEXT', 0, None, 0)
(5, 'code', 'TEXT', 0, None, 0)
(6, 'icao', 'TEXT', 0, None, 0)
(7, 'latitude', 'TEXT', 0, None, 0)
(8, 'longitude', 'TEXT', 0, None, 0)
(9, 'altitude', 'TEXT', 0, None, 0)
(10, 'offset', 'TEXT', 0, None, 0)
(11, 'dst', 'TEXT', 0, None, 0)
(12, 'timezone', 'TEXT', 0, None, 0)


(0, 'index', 'INTEGER', 0, None, 0)
(1, 'id', 'TEXT', 0, None, 0)
(2, 'name', 'TEXT', 0, None, 0)
(3, 'alias', 'TEXT', 0, None, 0)
(4, 'iata', 'TEXT', 0, None, 0)
(5, 'icao', 'TEXT', 0, None, 0)
(6, 'callsign', 'TEXT', 0, None, 0)
(7, 'country', 'TEXT', 0, None, 0)
(8, 'active', 'TEXT', 0, None, 0)


(0, 'index', 'INTEGER', 0, None, 0)
(1, 'airline', 'TEXT', 0, None, 0)
(2, 'airline_id', 'TEXT', 0, None, 0)
(3, 'source', 'TEXT', 0, None, 0)
(4, 'source_id', 'TEXT', 0, None, 0)
(5, 'dest', 'TEXT', 0, None, 0)
(6, 'dest_id', 'TEXT', 0, None, 0)
(7, 'codeshare', 'TEXT', 0, None, 0)
(8, 'stops', 'TEXT', 0, None, 0)
(9, 'equipment', 'TEXT', 0, None, 0)

In [20]:
sql_str = """
SELECT 

"""

-1

***
## Goal 4: Use basic SQL commands 
- Construct SQL queries
- Use JOIN to merge tables along logical columns
- Grouping Data with SQL

### Construct SQL queries

**Select**

**From**

**Where**

**Order by**

**Limit**

#### Options for each:

**Select**:  `distinct`, using `as` to rename columns, single number aggregates

**From:** also uses aliasing with `as`

**Where**: equals is only one `=`, `between`, `in`, wildcards `%`, `AND`, `OR`, `NOT`

**Order by**: `asc` and `desc`

**Limit**:  #

In [31]:
import pandas as pd

In [44]:
sql_str = """

SELECT * from airlines
WHERE (country = 'United Kingdom') and (active = 'Y')

"""
print(cursor.description)
cursor.execute(sql_str)
print(cursor.description)

df = pd.DataFrame(cursor.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cursor.description]
df

(('index', None, None, None, None, None, None), ('id', None, None, None, None, None, None), ('name', None, None, None, None, None, None), ('alias', None, None, None, None, None, None), ('iata', None, None, None, None, None, None), ('icao', None, None, None, None, None, None), ('callsign', None, None, None, None, None, None), ('country', None, None, None, None, None, None), ('active', None, None, None, None, None, None))
(('index', None, None, None, None, None, None), ('id', None, None, None, None, None, None), ('name', None, None, None, None, None, None), ('alias', None, None, None, None, None, None), ('iata', None, None, None, None, None, None), ('icao', None, None, None, None, None, None), ('callsign', None, None, None, None, None, None), ('country', None, None, None, None, None, None), ('active', None, None, None, None, None, None))

,index,id,name,alias,iata,icao,callsign,country,active
0,111,112,Astraeus,\N,5W,AEU,FLYSTAR,United Kingdom,Y
1,491,492,Air Southwest,\N,None,WOW,SWALLOW,United Kingdom,Y
2,507,508,Aurigny Air Services,\N,GR,AUR,AYLINE,United Kingdom,Y
3,564,565,Air Wales,\N,6G,AWW,RED DRAGON,United Kingdom,Y
4,664,665,AD Aviation,\N,None,VUE,FLIGHTVUE,United Kingdom,Y
5,689,690,Air Foyle,\N,GS,UPA,FOYLE,United Kingdom,Y
6,1353,1355,British Airways,\N,BA,BAW,SPEEDBIRD,United Kingdom,Y
7,1409,1411,British International Helicopters,\N,BS,BIH,BRINTEL,United Kingdom,Y
8,1435,1437,bmi,bmi British Midland,BD,BMA,MIDLAND,United Kingdom,Y
9,1439,1441,bmibaby,\N,WW,BMI,BABY,United Kingdom,Y
10,1443,1445,British Midland Regional,\N,None,BMR,None,United Kingdom,Y
11,1541,1543,British Mediterranean Airways,\N,KJ,LAJ,BEE MED,United Kingdom,Y
12,1793,1795,BA CityFlyer,\N,CJ,CFE,FLYER,United Kingdom,Y
13,1921,1923,Crest Aviation,\N,None,CAN,CREST,United Kingdom,Y
14,2115,2117,Eastern Airways,\N,T3,EZE,EASTFLIGHT,United Kingdom,Y
15,2262,2264,Excel Airways,\N,JN,XLA,EXPO,United Kingdom,Y
16,2263,2265,Excel Charter,\N,None,XEL,HELI EXCEL,United Kingdom,Y
17,2295,2297,easyJet,EasyJet Airline,U2,EZY,EASY,United Kingdom,Y
18,2355,2357,First Choice Airways,\N,DP,FCA,JETSET,United Kingdom,Y
19,2393,2395,Flightline,\N,B5,FLT,FLIGHTLINE,United Kingdom,Y
20,2419,2421,Flybe,\N,BE,BEE,JERSEY,United Kingdom,Y
21,2423,2425,Flyglobespan,\N,B4,GSM,GLOBESPAN,United Kingdom,Y
22,2484,2486,GB Airways,\N,GT,GBL,GEEBEE AIRWAYS,United Kingdom,Y
23,2758,2761,Highland Airways,\N,None,HWY,HIWAY,United Kingdom,Y
24,3023,3026,Jet2.com,\N,LS,EXS,CHANNEX,United Kingdom,Y
25,3526,3532,Monarch Airlines,\N,ZB,MON,MONARCH,United Kingdom,Y
26,3562,3568,MyTravel Airways,\N,VZ,MYT,KESTREL,United Kingdom,Y
27,3678,3684,Norfolk County Flight College,\N,None,NCF,COUNTY,United Kingdom,Y
28,4106,4113,Kinloss Flying Training Unit,\N,None,KIN,KINLOSS,United Kingdom,Y
29,4314,4323,ScotAirways,\N,None,SAY,SUCKLING,United Kingdom,Y
30,4886,4897,Thomas Cook Airlines,\N,MT,TCX,KESTREL,United Kingdom,Y
31,5002,5013,Thomsonfly,\N,BY,TOM,TOMSON,United Kingdom,Y
32,5329,5347,Virgin Atlantic Airways,\N,VS,VIR,VIRGIN,United Kingdom,Y
33,5589,10642,Jc royal.britannica,None,None,JRB,None,United Kingdom,Y
34,5724,13936,Royal European Airlines,None,69,\N,None,United Kingdom,Y
35,5782,16261,CB Airways UK ( Interliging Flights ),None,1F,CIF,None,United Kingdom,Y
36,5848,16881,Air Cudlua,Air Cudlua,None,CUD,Cudlua,United Kingdom,Y
37,6010,19525,BBN-Airways,BlackBurn,None,EGH,BBN,United Kingdom,Y
38,6022,19677,Rainbow Air Euro,Rainbow Air EU,RU,RUE,Rainbow Air,United Kingdom,Y
39,6034,19808,All Europe,All Europe,N9,N99,None,United Kingdom,Y

In [48]:

sql_str = """

SELECT distinct country from airports

"""

cursor.execute(sql_str)


df = pd.DataFrame(cursor.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cursor.description]
df

                           country
0                 Papua New Guinea
1                        Greenland
2                          Iceland
3                           Canada
4                          Algeria
5                            Benin
6                     Burkina Faso
7                            Ghana
8                    Cote d'Ivoire
9                          Nigeria
10                           Niger
11                         Tunisia
12                            Togo
13                         Belgium
14                         Germany
15                   United States
16                         Estonia
17                         Finland
18                  United Kingdom
19                        Guernsey
20                          Jersey
21                     Isle of Man
22                Falkland Islands
23                     Netherlands
24                         Ireland
25                         Denmark
26                   Faroe Islands
27                      Luxembourg
28                          Norway
29                          Poland
..                             ...
210                      Singapore
211               Christmas Island
212                 Norfolk Island
213                          China
214                          Korea
215                       Mongolia
216                         Latvia
217                      Lithuania
218                        Armenia
219                        Eritrea
220                      Palestine
221                          Yemen
222                        Georgia
223                        Bermuda
224                Solomon Islands
225                          Nauru
226                         Tuvalu
227                        Namibia
228                       Djibouti
229                     Montserrat
230                         Monaco
231                 Johnston Atoll
232                           Niue
233                 Western Sahara
234        Cocos (Keeling) Islands
235  South Georgia and the Islands
236                        Myanmar
237                       Svalbard
238                    North Korea
239                    Wake Island

[240 rows x 1 columns]

**Task**: 
- Select only active airlines in the UK from the airlines table
- Select the unique list of countries with airports

### SQL Joins

SQL joins can be used to both **add** data to a table and **remove** data from a table.

![venn](img/venn.png)

**Task** Write a query that will join the latitude and longitude data from the airports table to the information on the routes table

In [81]:

sql_str ="""

SELECT *
FROM airports



"""

cursor.execute(sql_str)


df = pd.DataFrame(cursor.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cursor.description]
df

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby
5,5,6,Wewak Intl,Wewak,Papua New Guinea,WWK,AYWK,-3.583828,143.669186,19,10,U,Pacific/Port_Moresby
6,6,7,Narsarsuaq,Narssarssuaq,Greenland,UAK,BGBW,61.160517,-45.425978,112,-3,E,America/Godthab
7,7,8,Nuuk,Godthaab,Greenland,GOH,BGGH,64.190922,-51.678064,283,-3,E,America/Godthab
8,8,9,Sondre Stromfjord,Sondrestrom,Greenland,SFJ,BGSF,67.016969,-50.689325,165,-3,E,America/Godthab
9,9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531203,-68.703161,251,-4,E,America/Thule
10,10,11,Akureyri,Akureyri,Iceland,AEY,BIAR,65.659994,-18.072703,6,0,N,Atlantic/Reykjavik
11,11,12,Egilsstadir,Egilsstadir,Iceland,EGS,BIEG,65.283333,-14.401389,76,0,N,Atlantic/Reykjavik
12,12,13,Hornafjordur,Hofn,Iceland,HFN,BIHN,64.295556,-15.227222,24,0,N,Atlantic/Reykjavik
13,13,14,Husavik,Husavik,Iceland,HZK,BIHU,65.952328,-17.425978,48,0,N,Atlantic/Reykjavik
14,14,15,Isafjordur,Isafjordur,Iceland,IFJ,BIIS,66.058056,-23.135278,8,0,N,Atlantic/Reykjavik
15,15,16,Keflavik International Airport,Keflavik,Iceland,KEF,BIKF,63.985,-22.605556,171,0,N,Atlantic/Reykjavik
16,16,17,Patreksfjordur,Patreksfjordur,Iceland,PFJ,BIPA,65.555833,-23.965,11,0,N,Atlantic/Reykjavik
17,17,18,Reykjavik,Reykjavik,Iceland,RKV,BIRK,64.13,-21.940556,48,0,N,Atlantic/Reykjavik
18,18,19,Siglufjordur,Siglufjordur,Iceland,SIJ,BISI,66.133333,-18.916667,10,0,N,Atlantic/Reykjavik
19,19,20,Vestmannaeyjar,Vestmannaeyjar,Iceland,VEY,BIVM,63.424303,-20.278875,326,0,N,Atlantic/Reykjavik
20,20,21,Sault Ste Marie,Sault Sainte Marie,Canada,YAM,CYAM,46.485001,-84.509445,630,-5,A,America/Toronto
21,21,22,Winnipeg St Andrews,Winnipeg,Canada,YAV,CYAV,50.056389,-97.0325,760,-6,A,America/Winnipeg
22,22,23,Shearwater,Halifax,Canada,YAW,CYAW,44.639721,-63.499444,167,-4,A,America/Halifax
23,23,24,St Anthony,St. Anthony,Canada,YAY,CYAY,51.391944,-56.083056,108,-3.5,A,America/St_Johns
24,24,25,Tofino,Tofino,Canada,YAZ,CYAZ,49.082222,-125.7725,80,-8,A,America/Vancouver
25,25,26,Kugaaruk,Pelly Bay,Canada,YBB,CYBB,68.534444,-89.808056,56,-7,A,America/Edmonton
26,26,27,Baie Comeau,Baie Comeau,Canada,YBC,CYBC,49.1325,-68.204444,71,-5,A,America/Toronto
27,27,28,Bagotville,Bagotville,Canada,YBG,CYBG,48.330555,-70.996391,522,-5,A,America/Toronto
28,28,29,Baker Lake,Baker Lake,Canada,YBK,CYBK,64.298889,-96.077778,59,-6,A,America/Winnipeg
29,29,30,Campbell River,Campbell River,Canada,YBL,CYBL,49.950832,-125.270833,346,-8,A,America/Vancouver
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8077,8077,9512,Port of Seattle,Seattle,United States,None,PSEA,47.609178,-122.350605,0,-8,A,America/Los_Angeles
8078,8078,9513,Ferry Terminal,Whittier,United States,None,WHIT,60.776566,-148.683367,0,-9,A,America/Anchorage
8079,8079,9514,Ferry Terminal,Valdez,United States,None,VLDZ,61.123976,-146.365309,0,-9,A,America/Anchorage
8080,8080,9515,Gare Routiere,Saint-Louis,Reunion,None,STLS,-21.289604,55.407269,103,4,E,Indian/Reunion
8081,8081,9516,Bus Stop,La Riviere,Reunion,None,LRIV,-21.272574,55.437706,190,4,E,Indian/Reunion
8082,8082,9517,Bus Stop,Cilaos,Reunion,None,CILS,-21.135518,55.472087,4000,4,E,Indian/Reunion
8083,8083,9518,Bus Stop,Hell-Bourg,Reunion,None,HLBG,-21.06402,55.518453,3000,4,E,Indian/Reunion
8084,8084,9519,Bus Stop,Salazie,Reunion,None,SLZI,-21.027485,55.538955,3000,4,E,Indian/Reunion
8085,8085,9520,Gare,St Andre,Reunion,None,ANDR,-20.963272,55.652508,100,4,E,Indian/Reunion
8086,8086,9521,L'Ocean Bus Terminal,Saint Denis,Reunion,None,SDNS,-20.877683,55.457393,0,4,E,Indian/Reunion
8087,8087,9522,Gare Routiere,Saint Pierre,Reunion,None,STPR,-21.33424,55.471331,0,4,E,Indian/Reunion
8088,8088,9523,Baie Ste Anne,Praslin,Seychelles,None,PLIN,-4.347119,55.765688,0,4,N,Indian/Mahe
8089,8089,9524,La Passe,La Digue,Seychelles,None,LADG,-4.347969,55.829069,0,4,N,Indian/Mahe
8090,8090,9525,Ferry Dock,Bainbridge Island,United States,None,BAIN,47.622237,-122.509362,0,-8,A,America/Los_Angeles
8091,8091,9526,Bus,Phnom Penh,Cambodia,None,PNMP,11.561716,104.914276,0,7,N,Asia/Phnom_Penh
8092,8092,9527,Bus,Siem Reap,Cambodia,None,SMRP,13.361002,103.859543,0,7,N,Asia/Phnom_Penh
8093,8093,9528,Bus,Sihanoukville,Cambodia,None,SNKV,10.60722,103.524886,0,7,N,Asia/Phnom_Penh
8094,8094,9529,Bus,Kampot,Cambodia,None,KMPT,10.614922,104.177724,0,7,N,Asia/Phnom_Penh
8095,8095,9530,Bus,Kep,Cambodia,None,KEPC,10.480174,104.294228,0,7,N,Asia/Phnom_Penh
8096,8096,9531,Main Station,Taipei,Taiwan,None,TPEI,25.046176,121.517532,0,8,N,Asia/Taipei
8097,8097,9532,Prominent Hill,Prominent Hill,Australia,PXH,YPMH,-29.716667,135.521667,734,9.5,O,Australia/Adelaide
8098,8098,9533,Chatsworth Station,Chatsworth,United States,CWT,\N,34.256944,-118.598889,978,-8,A,America/Los_Angeles
8099,8099,9534,Algerciras Port,Algerciras,Spain,None,\N,36.136,-5.435,0,1,E,Europe/Madrid
8100,8100,9535,Ganges Water Aerodrome,Ganges,Canada,YGG,\N,48.85,-123.5,0,-8,A,America/Vancouver
8101,8101,9536,Pender Harbour Water Aerodrome,Pender Harbour,Canada,YPT,\N,49.616667,-124.016667,0,-8,A,America/Vancouver
8102,8102,9537,Mansons Landing Water Aerodrome,Mansons Landing,Canada,YMU,\N,50.066667,-124.983333,0,-8,A,America/Vancouver
8103,8103,9538,Port McNeill Airport,Port McNeill,Canada,YMP,\N,50.575556,-127.028611,225,-8,A,America/Vancouver
8104,8104,9539,Sullivan Bay Water Aerodrome,Sullivan Bay,Canada,YTG,\N,50.883333,-126.833333,0,-8,A,America/Vancouver
8105,8105,9540,Deer Harbor Seaplane,Deer Harbor,United States,DHB,\N,48.618397,-123.00596,0,-8,A,America/Los_Angeles
8106,8106,9541,San Diego Old Town Transit Center,San Diego,United States,OLT,\N,32.7552,-117.1995,0,-8,A,America/Los_Angeles

In [80]:

sql_str = """

SELECT r.*, a.latitude, a.longitude
FROM routes r
LEFT JOIN airports as a ON a.id = r.source_id


"""

cursor.execute(sql_str)


df = pd.DataFrame(cursor.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cursor.description]
df[df.latitude.isna()]

,index,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment,latitude,longitude
38,38,2B,410,TGK,\N,DME,4029,None,0,CR2,None,None
54,54,2G,1654,KCK,\N,IKT,2937,None,0,AN4,None,None
1163,1163,4O,17885,PQM,\N,MEX,1824,None,0,SU9,None,None
1714,1714,4W,\N,SVS,\N,FAI,3832,None,0,PA2,None,None
1715,1715,4W,\N,SVS,\N,WBQ,7115,None,0,PA2,None,None
1736,1736,4Y,1173,KKI,\N,AKI,7217,None,0,CNA,None,None
1747,1747,4Y,1173,PKA,\N,BET,3599,None,0,CNA,None,None
1752,1752,4Y,1173,WNA,\N,PKA,\N,None,0,CNA,None,None
1877,1877,5J,1683,IAO,\N,CEB,4206,None,0,ATR,None,None
2113,2113,5Z,18946,PBZ,\N,CPT,797,None,0,BEH,None,None
2114,2114,5Z,18946,PBZ,\N,JNB,813,None,0,BEH,None,None
2650,2650,7H,16726,KKI,\N,AKI,7217,Y,0,CNA,None,None
2651,2651,7H,16726,KKI,\N,KWT,7095,Y,0,CNA,None,None
2867,2867,7P,1500,OGM,\N,MPP,8207,None,0,DHT,None,None
3213,3213,8P,3856,YKT,\N,ZEL,7275,None,0,DHP,None,None
3310,3310,8T,68,YFJ,\N,YZF,196,None,0,DHT,None,None
3394,3394,8V,55,LMA,\N,FAI,3832,None,0,PAG,None,None
3556,3556,9C,15999,ZYI,\N,KMG,3382,None,0,320,None,None
3557,3557,9C,15999,ZYI,\N,SHA,3391,None,0,320,None,None
3777,3777,9N,\N,SQS,\N,BCV,8227,None,0,CNC,None,None
3778,3778,9N,\N,SQS,\N,BZE,1957,None,0,CNC,None,None
3779,3779,9N,\N,SQS,\N,SPR,4279,None,0,CNC,None,None
3780,3780,9N,\N,SQS,\N,TZA,6463,None,0,CNC,None,None
4468,4468,A4,4550,ORU,\N,CBB,2759,None,0,SWM,None,None
4469,4469,A4,4550,ORU,\N,SRZ,4247,None,0,SWM,None,None
4635,4635,A8,1392,KSE,\N,EBB,1187,None,0,CNA,None,None
8741,8741,AD,13983,PHB,\N,FOR,2559,None,0,AT7,None,None
8742,8742,AD,13983,PHB,\N,THE,2623,None,0,AT7,None,None
10139,10139,AH,794,CFK,\N,MRS,1353,None,0,736,None,None
10158,10158,AH,794,EBH,\N,ALG,210,None,0,ATR,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
60722,60722,V0,1886,CBS,\N,CCS,2851,None,0,ATR,None,None
60949,60949,V9,10800,VLY,\N,CWL,488,None,0,J31,None,None
61052,61052,VA,5360,DCN,\N,PER,3351,None,0,320 100,None,None
61869,61869,VT,692,KHZ,\N,KXU,\N,None,0,ATR,None,None
61871,61871,VT,692,KXU,\N,PPT,4075,None,0,ATR,None,None
61918,61918,VT,692,RKA,\N,KHZ,\N,None,0,ATR,None,None
62497,62497,W3,407,ABB,\N,ABV,260,None,0,73G,None,None
62498,62498,W3,407,ABB,\N,LOS,273,None,0,73G,None,None
62534,62534,W3,407,GMO,\N,ABV,260,None,0,CR9 DH4,None,None
62569,62569,W3,407,QUO,\N,LOS,273,None,0,CR9,None,None
62578,62578,W4,16660,JAU,\N,LIM,2789,None,0,DH8,None,None
62586,62586,W4,16660,TGI,\N,LIM,2789,None,0,DH8,None,None
63026,63026,W6,5461,TZL,\N,GSE,691,None,0,320,None,None
63027,63027,W6,5461,TZL,\N,MLH,1423,None,0,320,None,None
63028,63028,W6,5461,TZL,\N,MMX,708,None,0,320,None,None
63371,63371,WJ,5399,YNP,\N,YDP,5488,None,0,DHT,None,None
63372,63372,WJ,5399,YNP,\N,YHO,5502,None,0,DHT,None,None
63381,63381,WJ,5399,ZGS,\N,YHR,5503,None,0,DHT BE1,None,None
63382,63382,WJ,5399,ZGS,\N,YNA,94,None,0,DHT,None,None
63383,63383,WJ,5399,ZGS,\N,YZV,202,None,0,BE1,None,None
63384,63384,WJ,5399,ZGS,\N,ZKG,8217,None,0,DHT,None,None
65963,65963,Y7,13088,TGP,\N,KJA,4374,None,0,AT5,None,None
65964,65964,Y7,13088,THX,\N,KJA,4374,None,0,AT5,None,None
66082,66082,YC,9828,TQL,\N,SLY,6137,None,0,L4T,None,None
66249,66249,YT,16133,JKR,\N,KTM,3125,None,0,J41,None,None
66304,66304,Z3,1266,KWF,\N,KTN,3808,None,0,DHP,None,None
66352,66352,Z8,603,ORU,\N,CBB,2759,None,0,SWM,None,None
66353,66353,Z8,603,ORU,\N,SRZ,4247,None,0,SWM,None,None
66822,66822,ZH,4611,DQA,\N,PEK,3364,Y,0,737,None,None
67437,67437,ZH,4611,ZYI,\N,PEK,3364,Y,0,737,None,None

In [83]:
sql_str = """

SELECT r.*, a.latitude as source_lat, a.longitude as source_long, a2.latitude as dest_lat, a2.longitude as dest_long
FROM routes r
LEFT JOIN airports a ON a.id = r.source_id
LEFT JOIN airports a2 ON a2.id = r.dest_id

"""

cursor.execute(sql_str)


df = pd.DataFrame(cursor.fetchall())  # Take results and create dataframe
df.columns = [i[0] for i in cursor.description]
df.shape

(67663, 14)

### Grouping statements

Combines `select` and `group by` when you want aggregates by values

`select` `min(x)` ... `max()`, `sum()`, etc

`group by x`

**Task**<br>
- Which countries have the highest amount of active airports?
- Which countries have the highest amount of inactive airports?
- What about airports by timezones?

## Goal 5: Using sql within pandas to filter

`.query()`

[query documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html)

In [63]:
# Get data for an example
import pandas as pd
shelter_data=pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')
shelter_data.dtypes

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Date of Birth       object
Outcome Type        object
Outcome Subtype     object
Animal Type         object
Sex upon Outcome    object
Age upon Outcome    object
Breed               object
Color               object
dtype: object

In [64]:
max_data = shelter_data.query('Name == "Max"')
max_data.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
345,A443876,Max,05/06/2019 04:56:00 PM,05/06/2019 04:56:00 PM,03/21/2006,Adoption,NaN,Cat,Neutered Male,13 years,Domestic Shorthair Mix,Blue Tabby/White
669,A793215,Max,04/30/2019 11:49:00 AM,04/30/2019 11:49:00 AM,04/21/2017,Return to Owner,NaN,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,Black/White
819,A731802,Max,04/26/2019 06:17:00 PM,04/26/2019 06:17:00 PM,07/27/2015,Adoption,NaN,Dog,Neutered Male,3 years,Maltese Mix,White
820,A789320,Max,04/26/2019 06:01:00 PM,04/26/2019 06:01:00 PM,08/19/2017,Adoption,NaN,Dog,Neutered Male,1 year,Pit Bull Mix,White/Black
1158,A793073,Max,04/19/2019 01:55:00 PM,04/19/2019 01:55:00 PM,04/19/2017,Return to Owner,NaN,Dog,Intact Male,2 years,Boxer Mix,Brown/Tricolor

In [65]:
shelter_data.rename(index=str, columns={"Animal Type": "animal_type"}, inplace = True)
test = shelter_data.query('animal_type == "Dog"')
test.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,animal_type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794145,NaN,05/13/2019 04:36:00 PM,05/13/2019 04:36:00 PM,03/04/2019,Transfer,Partner,Dog,Intact Male,2 months,Shih Tzu Mix,White/Brown
1,A794788,Rocco,05/13/2019 11:59:00 AM,05/13/2019 11:59:00 AM,08/13/2018,Return to Owner,NaN,Dog,Neutered Male,8 months,Miniature Pinscher,Black/Tan
2,A794472,NaN,05/13/2019 11:45:00 AM,05/13/2019 11:45:00 AM,05/08/2017,Transfer,Partner,Dog,Spayed Female,2 years,Bichon Frise Mix,White
3,A794043,Pantera,05/13/2019 11:27:00 AM,05/13/2019 11:27:00 AM,01/03/2019,Adoption,NaN,Dog,Spayed Female,4 months,Pointer/Labrador Retriever,Black/White
4,A793688,NaN,05/13/2019 10:28:00 AM,05/13/2019 10:28:00 AM,11/28/2012,Disposal,NaN,Dog,Intact Male,6 years,Bloodhound,Brown

## Goal 6: Transfering from sqlite to pandas

In [66]:
conn = sqlite3.connect("flights.db")
df = pd.read_sql_query("select * from airports limit 5;", conn)
df

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby

In [69]:

sql_str = """

SELECT r.*, a.latitude as source_lat, a.longitude as source_long, a2.latitude as dest_lat, a2.longitude as dest_long
FROM routes r
LEFT JOIN airports as a ON a.id = r.source_id
LEFT JOIN airports as a2 ON a2.id = r.dest_id

"""

df = pd.read_sql_query(sql_str, con)
df

,index,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment,source_lat,source_long,dest_lat,dest_long
0,0,2B,410,AER,2965,KZN,2990,None,0,CR2,43.449928,39.956589,55.606186,49.278728
1,1,2B,410,ASF,2966,KZN,2990,None,0,CR2,46.283333,48.006278,55.606186,49.278728
2,2,2B,410,ASF,2966,MRV,2962,None,0,CR2,46.283333,48.006278,44.225072,43.081889
3,3,2B,410,CEK,2968,KZN,2990,None,0,CR2,55.305836,61.503333,55.606186,49.278728
4,4,2B,410,CEK,2968,OVB,4078,None,0,CR2,55.305836,61.503333,55.012622,82.650656
5,5,2B,410,DME,4029,KZN,2990,None,0,CR2,55.408611,37.906111,55.606186,49.278728
6,6,2B,410,DME,4029,NBC,6969,None,0,CR2,55.408611,37.906111,55.34,52.06
7,7,2B,410,DME,4029,TGK,\N,None,0,CR2,55.408611,37.906111,None,None
8,8,2B,410,DME,4029,UUA,6160,None,0,CR2,55.408611,37.906111,54.64,52.8017
9,9,2B,410,EGO,6156,KGD,2952,None,0,CR2,50.6438,36.5901,54.89005,20.592633
10,10,2B,410,EGO,6156,KZN,2990,None,0,CR2,50.6438,36.5901,55.606186,49.278728
11,11,2B,410,GYD,2922,NBC,6969,None,0,CR2,40.4675,50.046667,55.34,52.06
12,12,2B,410,KGD,2952,EGO,6156,None,0,CR2,54.89005,20.592633,50.6438,36.5901
13,13,2B,410,KZN,2990,AER,2965,None,0,CR2,55.606186,49.278728,43.449928,39.956589
14,14,2B,410,KZN,2990,ASF,2966,None,0,CR2,55.606186,49.278728,46.283333,48.006278
15,15,2B,410,KZN,2990,CEK,2968,None,0,CR2,55.606186,49.278728,55.305836,61.503333
16,16,2B,410,KZN,2990,DME,4029,None,0,CR2,55.606186,49.278728,55.408611,37.906111
17,17,2B,410,KZN,2990,EGO,6156,None,0,CR2,55.606186,49.278728,50.6438,36.5901
18,18,2B,410,KZN,2990,LED,2948,None,0,CR2,55.606186,49.278728,59.800292,30.262503
19,19,2B,410,KZN,2990,SVX,2975,None,0,CR2,55.606186,49.278728,56.743108,60.802728
20,20,2B,410,LED,2948,KZN,2990,None,0,CR2,59.800292,30.262503,55.606186,49.278728
21,21,2B,410,LED,2948,NBC,6969,None,0,CR2,59.800292,30.262503,55.34,52.06
22,22,2B,410,LED,2948,UUA,6160,None,0,CR2,59.800292,30.262503,54.64,52.8017
23,23,2B,410,MRV,2962,ASF,2966,None,0,CR2,44.225072,43.081889,46.283333,48.006278
24,24,2B,410,NBC,6969,DME,4029,None,0,CR2,55.34,52.06,55.408611,37.906111
25,25,2B,410,NBC,6969,GYD,2922,None,0,CR2,55.34,52.06,40.4675,50.046667
26,26,2B,410,NBC,6969,LED,2948,None,0,CR2,55.34,52.06,59.800292,30.262503
27,27,2B,410,NBC,6969,SVX,2975,None,0,CR2,55.34,52.06,56.743108,60.802728
28,28,2B,410,NJC,2972,SVX,2975,None,0,CR2,60.949272,76.483617,56.743108,60.802728
29,29,2B,410,NJC,2972,UUA,6160,None,0,CR2,60.949272,76.483617,54.64,52.8017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67633,67633,ZL,4178,SYD,3361,ABX,3333,None,0,SF3,-33.946111,151.177222,-36.067778,146.958056
67634,67634,ZL,4178,SYD,3361,ARM,4062,None,0,SF3,-33.946111,151.177222,-30.528056,151.617222
67635,67635,ZL,4178,SYD,3361,BHQ,6241,None,0,SF3,-33.946111,151.177222,-32.0014,141.472
67636,67636,ZL,4178,SYD,3361,BHS,6249,None,0,SF3,-33.946111,151.177222,-33.4094,149.652
67637,67637,ZL,4178,SYD,3361,BNK,4291,None,0,SF3,-33.946111,151.177222,-28.833889,153.5625
67638,67638,ZL,4178,SYD,3361,DBO,3358,None,0,SF3,-33.946111,151.177222,-32.216667,148.574722
67639,67639,ZL,4178,SYD,3361,GFF,6271,None,0,SF3,-33.946111,151.177222,-34.2508,146.067
67640,67640,ZL,4178,SYD,3361,LSY,6287,None,0,SF3,-33.946111,151.177222,-28.8303,153.26
67641,67641,ZL,4178,SYD,3361,MIM,6294,None,0,SF3,-33.946111,151.177222,-36.9086,149.901
67642,67642,ZL,4178,SYD,3361,MQL,6298,None,0,SF3,-33.946111,151.177222,-34.2292,142.086
67643,67643,ZL,4178,SYD,3361,MYA,6302,None,0,SF3,-33.946111,151.177222,-35.8978,150.144
67644,67644,ZL,4178,SYD,3361,NRA,6307,None,0,SF3,-33.946111,151.177222,-34.7022,146.512
67645,67645,ZL,4178,SYD,3361,NTL,4320,None,0,SF3,-33.946111,151.177222,-32.78,151.83
67646,67646,ZL,4178,SYD,3361,OAG,6793,None,0,SF3,-33.946111,151.177222,-33.3817,149.133
67647,67647,ZL,4178,SYD,3361,PKE,6317,None,0,SF3,-33.946111,151.177222,-33.1314,148.239
67648,67648,ZL,4178,SYD,3361,TRO,6794,None,0,SF3,-33.946111,151.177222,-31.8886,152.514
67649,67649,ZL,4178,SYD,3361,WGA,3363,None,0,SF3,-33.946111,151.177222,-35.165278,147.466389
67650,67650,ZL,4178,TRO,6794,GFN,6792,None,0,SF3,-31.8886,152.514,-29.7594,153.03
67651,67651,ZL,4178,TRO,6794,SYD,3361,None,0,SF3,-31.8886,152.514,-33.946111,151.177222
67652,67652,ZL,4178,TSV,3330,ISA,3324,None,0,SF3,-19.2525,146.765278,-20.663889,139.488611
67653,67653,ZL,4178,TSV,3330,WIN,6337,None,0,SF3,-19.2525,146.765278,-22.3636,143.086
67654,67654,ZL,4178,WGA,3363,MEL,3339,None,0,SF3,-35.165278,147.466389,-37.673333,144.843333
67655,67655,ZL,4178,WGA,3363,SYD,3361,None,0,SF3,-35.165278,147.466389,-33.946111,151.177222
67656,67656,ZL,4178,WIN,6337,LRE,6289,None,0,SF3,-22.3636,143.086,-23.4342,144.28
67657,67657,ZL,4178,WIN,6337,TSV,3330,None,0,SF3,-22.3636,143.086,-19.2525,146.765278
67658,67658,ZL,4178,WYA,6334,ADL,3341,None,0,SF3,-33.0589,137.514,-34.945,138.530556
67659,67659,ZM,19016,DME,4029,FRU,2912,None,0,734,55.408611,37.906111,43.061306,74.477556
67660,67660,ZM,19016,FRU,2912,DME,4029,None,0,734,43.061306,74.477556,55.408611,37.906111
67661,67661,ZM,19016,FRU,2912,OSS,2913,None,0,734,43.061306,74.477556,40.608989,72.793269
67662,67662,ZM,19016,OSS,2913,FRU,2912,None,0,734,40.608989,72.793269,43.061306,74.477556

**Task**: 
Convert one of the earlier queries in the lesson to a pandas data frame

## Integration

The [Chinook database](https://github.com/lerocha/chinook-database) is a sample database, representing a digital media store.

You need to create a query that can rank tracks in term of popularity.

The name of the database is `Chinook_Sqlite.sqlite`

Database information:<br>
- How many tables are in the database?
- What's the primary key of each table?
- What foreign keys join the tables together?
- If you had to draw a schema of how the tables are connected, what would it look like?

To answer the question:<br>
- What are the max and min dates in the Invoice table?
- What tables would you need to answer "what is your most popular track?"
- What values from each table?

In [84]:
chinook_con = sqlite3.connect("Chinook_Sqlite.sqlite")
cursor = chinook_con.cursor()

In [91]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
table_names = [x[0] for x in cursor.fetchall()]
table_names

['Album',
 'Artist',
 'Customer',
 'Employee',
 'Genre',
 'Invoice',
 'InvoiceLine',
 'MediaType',
 'Playlist',
 'PlaylistTrack',
 'Track']

In [93]:
for table_name in table_names:
    print('\n')
    print("{} information:".format(table_name))
    cursor.execute("PRAGMA table_info({})".format(table_name))
    info = cursor.fetchall()
    print(*info, sep = "\n")

Album information:
(0, 'AlbumId', 'INTEGER', 1, None, 1)
(1, 'Title', 'NVARCHAR(160)', 1, None, 0)
(2, 'ArtistId', 'INTEGER', 1, None, 0)


Artist information:
(0, 'ArtistId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(120)', 0, None, 0)


Customer information:
(0, 'CustomerId', 'INTEGER', 1, None, 1)
(1, 'FirstName', 'NVARCHAR(40)', 1, None, 0)
(2, 'LastName', 'NVARCHAR(20)', 1, None, 0)
(3, 'Company', 'NVARCHAR(80)', 0, None, 0)
(4, 'Address', 'NVARCHAR(70)', 0, None, 0)
(5, 'City', 'NVARCHAR(40)', 0, None, 0)
(6, 'State', 'NVARCHAR(40)', 0, None, 0)
(7, 'Country', 'NVARCHAR(40)', 0, None, 0)
(8, 'PostalCode', 'NVARCHAR(10)', 0, None, 0)
(9, 'Phone', 'NVARCHAR(24)', 0, None, 0)
(10, 'Fax', 'NVARCHAR(24)', 0, None, 0)
(11, 'Email', 'NVARCHAR(60)', 1, None, 0)
(12, 'SupportRepId', 'INTEGER', 0, None, 0)


Employee information:
(0, 'EmployeeId', 'INTEGER', 1, None, 1)
(1, 'LastName', 'NVARCHAR(20)', 1, None, 0)
(2, 'FirstName', 'NVARCHAR(20)', 1, None, 0)
(3, 'Title', 'NVARCHAR(30)', 0, None, 0)
(4, 'ReportsTo', 'INTEGER', 0, None, 0)
(5, 'BirthDate', 'DATETIME', 0, None, 0)
(6, 'HireDate', 'DATETIME', 0, None, 0)
(7, 'Address', 'NVARCHAR(70)', 0, None, 0)
(8, 'City', 'NVARCHAR(40)', 0, None, 0)
(9, 'State', 'NVARCHAR(40)', 0, None, 0)
(10, 'Country', 'NVARCHAR(40)', 0, None, 0)
(11, 'PostalCode', 'NVARCHAR(10)', 0, None, 0)
(12, 'Phone', 'NVARCHAR(24)', 0, None, 0)
(13, 'Fax', 'NVARCHAR(24)', 0, None, 0)
(14, 'Email', 'NVARCHAR(60)', 0, None, 0)


Genre information:
(0, 'GenreId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(120)', 0, None, 0)


Invoice information:
(0, 'InvoiceId', 'INTEGER', 1, None, 1)
(1, 'CustomerId', 'INTEGER', 1, None, 0)
(2, 'InvoiceDate', 'DATETIME', 1, None, 0)
(3, 'BillingAddress', 'NVARCHAR(70)', 0, None, 0)
(4, 'BillingCity', 'NVARCHAR(40)', 0, None, 0)
(5, 'BillingState', 'NVARCHAR(40)', 0, None, 0)
(6, 'BillingCountry', 'NVARCHAR(40)', 0, None, 0)
(7, 'BillingPostalCode', 'NVARCHAR(10)', 0, None, 0)
(8, 'Total', 'NUMERIC(10,2)', 1, None, 0)


InvoiceLine information:
(0, 'InvoiceLineId', 'INTEGER', 1, None, 1)
(1, 'InvoiceId', 'INTEGER', 1, None, 0)
(2, 'TrackId', 'INTEGER', 1, None, 0)
(3, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)
(4, 'Quantity', 'INTEGER', 1, None, 0)


MediaType information:
(0, 'MediaTypeId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(120)', 0, None, 0)


Playlist information:
(0, 'PlaylistId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(120)', 0, None, 0)


PlaylistTrack information:
(0, 'PlaylistId', 'INTEGER', 1, None, 1)
(1, 'TrackId', 'INTEGER', 1, None, 2)


Track information:
(0, 'TrackId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(200)', 1, None, 0)
(2, 'AlbumId', 'INTEGER', 0, None, 0)
(3, 'MediaTypeId', 'INTEGER', 1, None, 0)
(4, 'GenreId', 'INTEGER', 0, None, 0)
(5, 'Composer', 'NVARCHAR(220)', 0, None, 0)
(6, 'Milliseconds', 'INTEGER', 1, None, 0)
(7, 'Bytes', 'INTEGER', 0, None, 0)
(8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)

To answer the question:

What are the max and min dates in the Invoice table?
What tables would you need to answer "what is your most popular track?"
What values from each table?

In [101]:
# What are the max and min dates in the Invoice table?

sql_str = """

SELECT min(InvoiceDate) as Minimum_InvoiceDate, max(InvoiceDate) as Maximum_InvoiceDate
FROM Invoice

"""

df = pd.read_sql_query( sql_str , chinook_con)
df

   Minimum_InvoiceDate  Maximum_InvoiceDate
0  2009-01-01 00:00:00  2013-12-22 00:00:00

In [114]:
# What tables would you need to answer "what is your most popular track?"


sql_str = """

SELECT T.*, sum(IL.Quantity) as Total_Quantity
FROM Track T
LEFT JOIN InvoiceLine IL ON IL.TrackID = T.TrackId
GROUP BY T.TrackID
ORDER BY Total_Quantity DESC

"""

df = pd.read_sql_query( sql_str , chinook_con)
df.head()

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice,Total_Quantity
0,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99,2.0
1,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99,2.0
2,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99,2.0
3,20,Overdose,4,1,1,AC/DC,369319,12066294,0.99,2.0
4,32,Deuces Are Wild,5,1,1,"Steven Tyler, Jim Vallance",215875,7074167,0.99,2.0

## Reflection